/* You can add global styles to this file, and also import other style files */
html, body {
  background: url('assets/img/e-comerce.jpg') center;
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dataTables_length {
  label {
    select {
      display: initial;
      width: auto;
    }
  }
}

.dataTables_filter {
  label {
    input {
      width: auto !important;
      padding-left: 10px !important;
    }
  }
}

.d-flex {
  display: flex !important;
}

.p-2 {
  padding: .5rem !important;
}

.flex-row {
  flex-direction: row !important;
}

.justify-content-flex-start {
  justify-content: flex-start !important;
}

.justify-content-flex-end {
  justify-content: flex-end !important;
}

.w-100 {
  width: 100%;
}

.justify-content-between {
  justify-content: space-between !important;
}


