<!-- <div class="row">
  <div class="col offset-l2 s12 m12 l8">
    <div *ngIf="form" class="card">
      <div  class="card-content">
        <span class="card-title">{{ editMode ? 'Edit' : 'New' }} Product</span>
        <form [formGroup]="form">
          <div class="row">
            <div class="input-field col s12">
              <input type="text" id="barcode" formControlName="barcode">
              <label for="barcode" [class.active]="form.get('barcode').value !== null">Barcode</label>
              <small class="red-text" *ngIf="form.get('barcode').invalid && form.get('barcode').touched " >
                Field is not a valid barcode
              </small>
            </div>
            <div class="input-field col s12">
              <input type="text" id="descrition" formControlName="description">
              <label for="descrition" [class.active]="form.get('description').value !== null">Description</label>
              <small class="red-text" *ngIf="form.get('description').invalid && form.get('description').touched " >
                Invalid Field
              </small>
            </div>
            <div class="input-field col s12">
              <input type="text" id="price" formControlName="price">
              <label for="price" [class.active]="form.get('price').value !== null">Price</label>
              <small class="red-text" *ngIf="form.get('price').invalid && form.get('price').touched " >
                This field is not a valid price
              </small>
            </div>
          </div>
        </form>
      </div>
      <div class="card-action d-flex justify-content-flex-end">
        <div class="p-1">
          <button class="btn waves-effect" [routerLink]="['/admin' ,'products']">Cancel</button>
        </div>
        <div class="p-1">
          <button class="btn waves-effect green" (click)="submit()" [disabled]="form.invalid">{{ editMode ? 'Save Changes' : 'Add Product'}}</button>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="page-header">

</div>
<div class="page-content">
  <mat-card>
    <mat-card-header>
      <h1>{{ editMode ? 'Edit' : 'New' }} Product</h1>
    </mat-card-header>
    <form [formGroup]="form">
      <div class="d-flex flex-column form-style">
        <div class="form-group d-flex">
          <label for="description">
            <mat-icon class="form-icon">shopping_cart</mat-icon>
          </label>
          <input class="input-form" type="text" id="description" placeholder="Description">
        </div>
        <div class="form-group d-flex">
          <label for="barcode">
            <mat-icon>view_headline</mat-icon>
          </label>
          <input class="input-form" type="text" id="barcode" placeholder="Barcode">
        </div>
        <div class="form-group d-flex">
          <label for="price">
            <mat-icon>attach_money</mat-icon>
          </label>
          <input class="input-form" type="text" id="price" placeholder="Price">
        </div>
      </div>
    </form>
    <mat-card-actions>
      <div class="d-flex justify-content-flex-end">
        <div class="p-2">
          <button mat-icon-button>Cancel</button>
        </div>
        <div class="p-2">
          <button mat-icon-button>Add</button>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
