<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div *ngIf="!authService; else elseBlock">
      <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <ng-template #elseBlock>
      <img src="../assets/img/shop.svg" width="40px" height="50px">
    </ng-template>

    <span class="title" routerLink="/">iShop</span>

    <div class="d-flex w-100 justify-content-flex-end" *ngIf="!authService.authenticated">
      <ul>
        <li>
          <button routerLink="/auth" mat-button>Console</button>
        </li>
      </ul>
    </div>

    <div class="d-flex w-100 justify-content-flex-end" *ngIf="authService.authenticated">
      <ul class="d-flex">
        <li>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>person_outline</mat-icon>
          </button>
        </li>
      </ul>
      <mat-menu #menu>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          &nbsp; Sair
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer *ngIf="authService.authenticated" [mode]="mode" [opened]="sidebarOpen">
    <mat-nav-list id="card-top">
      <div class="profile-card">

      </div>
      <div class="profile-card-2">
        <div class="header">
          <img src="../assets/img/shop.svg" alt="logo.svg">
        </div>

      </div>

      <mat-divider></mat-divider>

      <h2 matSubheader>Páginas</h2>

      <a mat-list-item routerLink="/admin/products" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon>
        &nbsp; Dashboard
      </a>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>