:host {
    background-image: url(../../../assets/img/e-comerce.jpg);
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-repeat: repeat;
    height: 100%;
    overflow-y: auto;
}
.container-explorer {
    margin-top: 6em;
    .section {
        mat-card {
            margin: 0.5em 1em;
            img {
                width: 250px;
                height: auto;   
            }
            .button-explore {
                color: coral;
                background-color: #7080902b;
            }
        }   
    }
}
