@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url(../../../assets/img/grocery.jpg);
  background-repeat: no-repeat;

  mat-card {
    width: 40%;
    min-width: 25em;
    max-width: 50em;
    h2 {
      text-align: center;
    }

    form {
      .form-group {
        margin-bottom: 15px;

        small {
          color: red;
          padding-left: 9px;
        }

        label {
          background-color: white;
          margin-left: 4px;
          padding: 2px;
          font-weight: bolder;
        }

        input {
          font-family: "Poppins", sans-serif;
          display: block;
          border: none;
          outline: none;
          border-radius: 10px;
          padding: 0px 19px;
          background: #45455526;
          height: 60px;
          width: 100%;
          font-size: 18px;
        }

        input:focus {
          background: #69b7ce33;
        }
      }

      button {
        margin-top: 8px;
        color: white;
        width: 100%;
        background-color: slateblue;
      }

      .background {
        background-color: #454545b8;
      }
    }
  }
}
